@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.container {
  width: 70%;
  margin: 0 auto;
}
.header {
  font-family: "Lobster", cursive;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
