/* You can add global styles to this file, and also import other style files */
.btn {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  &_bgGreen:hover {
    background-color: rgb(99, 216, 99);
    color: white;
  }
  &_bgRed:hover {
    background-color: rgb(255, 67, 67);
    color: white;
  }
  &_bgBlue:hover {
    background-color: rgb(95, 95, 255);
    color: white;
  }
}
